@{
    ViewBag.Title = "Home Page";
}

    <div id="HomeBackground">
        <div class="jumbotron" id="my_custom_jumbotron">
            <h1>Trainers Page</h1>
            <p class="lead">Trainers Page is a free application for Creating,Reading,Updating,Deleting Trainers in Private School</p>
        </div>
</div>

